.conocenos{
    min-height: 100vh;
    display: flex;
    align-items: center;
    
    .div_nosotros{
        
        background-color: $cyan;
        width: 100%;

        .nosotros{
            @include tablet{
                @include grid(2, $separacion);
                max-width: 120rem;
            }
    
            .logo{
                background-color: $blanco;
                height: 25rem;
                width: 25rem;
                @include tablet{
                    height: 33rem;
                    width: 33rem;
                }
                border-radius: 50%;
                margin: 4rem auto;
            }
    
            .presentacion{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3{
                    color: $blanco;
                    font-size: 4rem;
                    text-align: left;
                    margin-left: 2rem;
                }
                p{
                    margin: 1rem 2rem;
                    font-size: 2.4rem;
                    &:last-child{
                        margin-bottom: 4rem;
                    }
                }
            }
        }
    }
}