html{
    scroll-behavior: smooth;
}

.contenedor__Header{
    background-color: $blanco;
    z-index: 2;
    width: 100%;
    position: fixed;
    padding: .8rem 0;
    box-shadow: 0px 4px 17px -1px rgba(0,0,0,0.75);
    .header{
        margin: 0 auto;
        max-width: 125rem;
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            width: 8rem;
            height: 5rem;
            background-image: url('../img/logo-01.png');
            background-size: 7rem;
            background-repeat: no-repeat;
            background-position: center center;
            margin-left: -1rem;
        }

        .nav{
            display: flex;
            column-gap: 2rem;
            margin-right: 1rem;
            a{
                color: $negro;

                &:hover{
                    text-decoration: underline;
                    color: $magentaOs;
                }
            }
            form{
                input{
                    background-color: transparent;
                    border: none;

                    &:hover{
                        cursor: pointer;
                        color: $magentaOs;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}