.tables{
    max-width: 120rem;
    max-height: 50rem;
    overflow: auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) ;
    .tabla{
        text-align: center;
        border-collapse: collapse;
        font-size: 1.8rem;
        position: relative;
        .thead{
            position: sticky;
            top: 2px;
            background-color: $magenta;
            color: white;
            th{
                font-weight: lighter;
                padding: 1rem .5rem;
                max-height: .3rem;
            }
        }
        th{
            max-height: 0;
        }
        tr:nth-child(even){
            background-color: rgba(247, 247, 247, 0.753);
        }
        td{
            padding-top: 1rem;
            max-width: 14rem;
            word-wrap: break-word;
        }
    }
}